name: Launch Tests

on:
  push:
    branches: [main]

jobs:
  account_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        working-directory: backend
        run: npm ci

      - name: Prisma generate
        working-directory: backend
        env:
          DATABASE_URL: ${{secrets.DATABASE_URL}}
        run: npx prisma generate

      - name: Run Tests
        working-directory: backend
        env:
          DATABASE_URL: ${{secrets.DATABASE_URL}}
          SECRET_KEY: ${{secrets.SECRET_KEY}}
        run: npm test
