name: Account Test

on:
  push:
    branches: [main]

jobs:
  test_push_request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12

#       - name: Install dependencies
#         working-directory: backend
#         run: npm ci
        
      - name: Prisma generate
        working-directory: backend
        run: npx prisma generate
        
      - name: Run Tests
        working-directory: backend
        run: npm test
